# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.flattened-pom.xml
*.iml

# eclipse ignore
.settings/
.project
.classpath
*.factorypath
*/*.factorypath
# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
